h1 Breeds ({{breeds.length}})

.breeds
  div.breed(ng-repeat="breed in breeds")
    form(ng-hide="breed.editing")
      .input-group
        span.input-group-addon {{ breed.random }}
          img.image(ng-src="{{breed.image.file || breed.image.url || '/img/avatar_blank.png'}}")
        input.form-control.name(ng-model="breed.name", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Country of Origin
          input.form-control.origin(ng-model="breed.originCountry", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Origin Type
          input.form-control.type(ng-model="breed.type", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Coat
          input.form-control.coat(ng-model="breed.coat", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Grooming Needs
          input.form-control.groomingFrequency(ng-model="breed.groomingFrequency", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Shedding Frequency
          input.form-control.sheddingFrequency(ng-model="breed.sheddingFrequency", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Attention Needed
          input.form-control.attentionNeed(ng-model="breed.attentionNeed", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Activity
          input.form-control.activity(ng-model="breed.activity", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Vocalization
          input.form-control.vocalization(ng-model="breed.vocalization", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Lap Cat
          input.form-control.lapCat(ng-model="breed.lapCat", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Hypoallergenic
          input.form-control.hypoallergenic(ng-model="breed.hypoallergenic", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Min Life Expectancy
          input.form-control.minLifeExpectancy(ng-model="breed.minLifeExpectancy", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Max Life Expectancy
          input.form-control.maxLifeExpectancy(ng-model="breed.maxLifeExpectancy", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Min Weight
          input.form-control.minWeightLbs(ng-model="breed.minWeightLbs", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Max Weight
          input.form-control.maxWeightLbs(ng-model="breed.maxWeightLbs", ng-dblclick="editingBreed(breed)", readonly)
        .entry
          label Wikipedia URL
          input.form-control.hypoallergenic(ng-model="breed.wikipediaUrl", ng-dblclick="editingBreed(breed)", readonly)


        textarea.form-control.description(ng-model="breed.description", ng-dblclick="editingBreed(breed)", readonly)
        span.input-group-btn(style="width: 70px;")
          .button.edit(ng-click="editingBreed(breed)")
          .button.close(ng-click="removeBreed(breed)")
    form(ng-submit="editBreed(breed)", ng-show="breed.editing")
      .input-group
        .input-group-addon
          div.image(file-dropzone='[image/png, image/jpeg, image/gif]', file='breed.image.file', file-name='breed.image.filename', data-max-file-size='3', style='width:150px;height:150px;')
            img.image(ng-src="{{breed.image.file || breed.image.url || '/img/avatar_blank.png'}}")
        input.form-control(ng-model="breed.name")
        .entry
          label Country of Origin
          input.form-control(ng-model="breed.originCountry", placeholder="Country of Origin")
        .entry
          label Origin Type
          input.form-control.type(ng-model="breed.type", placeholder="Type")
        .entry
          label Coat
          input.form-control.coat(ng-model="breed.coat", placeholder="Coat")
        .entry
          label Grooming Needs
          input.form-control.groomingFrequency(ng-model="breed.groomingFrequency", placeholder="Grooming Frequency")
        .entry
          label Shedding Frequency
          input.form-control.sheddingFrequency(ng-model="breed.sheddingFrequency", placeholder="Shedding Frequency")
        .entry
          label Attention Needed
          input.form-control.attentionNeed(ng-model="breed.attentionNeed", placeholder="Attention Needed")
        .entry
          label Activity
          input.form-control.activity(ng-model="breed.activity", placeholder="Activity")
        .entry
          label Vocalization
          input.form-control.vocalization(ng-model="breed.vocalization", placeholder="Vocalization")
        .entry
          label Lap Cat
          input.form-control.lapCat(ng-model="breed.lapCat", type="checkbox")
        .entry
          label Hypoallergenic
          input.form-control.hypoallergenic(ng-model="breed.hypoallergenic", type="checkbox")
        .entry
          label Min Life Expectancy
          input.form-control.minLifeExpectancy(ng-model="breed.minLifeExpectancy", type="number")
        .entry
          label Max Life Expectancy
          input.form-control.maxLifeExpectancy(ng-model="breed.maxLifeExpectancy", type="number")
        .entry
          label Min Weight
          input.form-control.minWeightLbs(ng-model="breed.minWeightLbs", type="number")
        .entry
          label Max Weight
          input.form-control.maxWeightLbs(ng-model="breed.maxWeightLbs", type="number")
        .entry
          label Wikipedia URL
          input.form-control.wikipediaUrl(ng-model="breed.wikipediaUrl", placeholder="Url")



        textarea.form-control.description(ng-model="breed.description", placeholder="Description")
        span.input-group-btn(style="width: 70px;")
          .button.save(ng-click="editBreed(breed)")
          .button.close(ng-click="cancelEditing(breed)")

form(role="form", ng-submit="addBreed()")
  .input-group
    input.form-control(type="text", ng-model="newBreed.name", autofocus)
    span.input-group-btn
      .button.add(type="submit")
