h1 Products ({{products.length}})

.products
  div.product(ng-repeat="product in products")
    form(ng-hide="product.editing")
      .input-group
        span.input-group-addon {{ product.random }}
          img.image(ng-src="{{product.mainPhoto.file || product.mainPhoto.url || '/img/avatar_blank.png'}}")
        
        .entry.head
          .name {{product.name}}
          .description {{product.description}}
        
        .entry
          label Color
          .value {{product.color}}

        .entry
          label Size
          .value {{product.size}}

        
        .entry
          label Price
          .value {{product.price}}

        .entry
          label Active
          .value  {{product.active}}

        .entry
          label Manufacturer Name
          .value  {{product.manufacturerName}}
          
        .entry
          label Manufacturer URL
          .value {{product.manufacturerUrl}}

        .entry
          label Supplier Part Name
          .value {{product.supplierPartName}}
        .entry
          label Supplier URL
          .value {{product.supplierUrl}}

        .entry
          label Amazon URL
          .value {{product.amazonUrl}}

        span.input-group-btn(style="width: 70px;")
          .button.edit(ng-click="editingProduct(product)")
          .button.add(ng-click="duplicateProduct(product)")
          .button.close(ng-click="removeProduct(product)")
    form(ng-submit="editProduct(product)", ng-show="product.editing")
      .input-group
        .input-group-addon
          div.image(file-dropzone='[image/png, image/jpeg, image/gif]', file='product.mainPhoto.file', file-name='product.mainPhoto.filename', data-max-file-size='5', style='width:150px;height:150px;')
            img.image(ng-src="{{product.mainPhoto.file || product.mainPhoto.url || '/img/avatar_blank.png'}}")
            
        .entry.head
          input.form-control(ng-model="product.name")
          textarea.form-control.description(ng-model="product.description", placeholder="Description")

        .entry
          label Price
          input.form-control(ng-model="product.price", type="number")

        .entry
          label Active
          input.form-control(ng-model="product.active", type="checkbox")

        .entry
          label Color
          input.form-control(ng-model="product.color", placeholder="Color")

        .entry
          label Size
          input.form-control(ng-model="product.size", placeholder="Size")

        .entry
          label Manufacturer Name
          input.form-control(ng-model="product.manufacturerName", placeholder="Name")
          
        .entry
          label Manufacturer URL
          input.form-control(ng-model="product.manufacturerUrl", placeholder="Url")

        .entry
          label Supplier Part Name
          input.form-control(ng-model="product.supplierPartName", placeholder="Part Name")
        .entry
          label Supplier URL
          input.form-control(ng-model="product.supplierUrl", placeholder="Url")

        .entry
          label Amazon URL
          input.form-control(ng-model="product.amazonUrl", placeholder="Url")

        span.input-group-btn(style="width: 70px;")
          .button.save(ng-click="editProduct(product)")
          .button.close(ng-click="cancelEditing(product)")

form(role="form", ng-submit="addProduct()")
  .input-group
    input.form-control(type="text", ng-model="newProduct.name", autofocus)
    span.input-group-btn
      .button.add(type="submit")
