script.
  $(function() {
    console.log("got here");
    $(".tab-button").click(function(e) {
      var section = $(this).data("section");
      alert(section);
      $(".tab-button").removeClass("active");
      $(this).addClass("active");
      $(".tab-contents").hide();    
      $(".tab-contents[data-section='" + section + "']").show();    
    })

    $(".tab-button").first().click();
  })

  if (entryId)
    console.log('has entry id')
  else
    console.log('no entry id')


.animal.cat
  .header
    .cover-container
      img.cover-photo(ng-src="{{animal.coverPhoto.url || '/img/blank_cover.png'}}")
    //- .profile-col
    //- 
    //-   .share
    //-     //- a(href="#")
    //-     //-   img(src="img/share_white.png")
    //- 
    //-     #share-dropdown.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
    //-       img(src="/img/share_white.png")
    //-       ul.dropdown-menu(aria-labelledby='share-dropdown')
    //-         li
    //-           a.fb-share(href='https://www.facebook.com/sharer/sharer.php?u={{serverDomain}}/cat/{{animal.username}}', target="_blank")
    //-             i.fa.fa-facebook
    //-             | Share on Facebook
    //-         li
    //-           a.fb-share(href='http://twitter.com/share?text={{animal.name}}%20on%20%40WhiteRabbitApps%20http%3A%2F%2Fwww.communikitty.com/cat/{{animal.username}}&amp;url=""')
    //-             i.fa.fa-twitter
    //-             | Share on Twitter



    .info
      .profile-photo
        img.profile(ng-src="{{animal.profilePhoto.url || '/img/avatar_blank.png'}}")
    
      h1 {{animal.name}}
      //- .username @{{animal.username}}
      .gender {{animal.age()}} {{animal.gender.toLowerCase()}}
      .adoptable {{animal.shelter ? (animal.adoptable ? 'Adoptable through ' : 'Adopted through ') : ''}}
      .shelter 
        a(href="/location/{{animal.shelter.short_name}}")
          | {{animal.shelter.name}}

  .tab-buttons
    .tab-button(data-section="about")
      | About
    .tab-button(data-section="timeline")
      | Timeline
      
  .tab-contents.about(data-section="about")
    if animal && animal.intro
      .field
        .label
          | Intro
        .value
          | {{animal.intro}}
  
    .field
      .label
        | Breed
      .value
        | {{animal.breed.name}}

    .field
      .label
        | Coat
      .value
        | {{animal.coat.name}}

    .field
      .label
        | Hometown
      .value
        | {{animal.hometown}}

    .field
      .label
        | Traits
      .value
        ul
          li(ng-repeat="trait in animal.traits")
            | {{trait.name}}


    .field
      .label
        | Loves
      .value
        ul
          li(ng-repeat="love in animal.loves")
            | {{love}}

    .field
      .label
        | Hates
      .value
        ul
          li(ng-repeat="hate in animal.hates")
            | {{hate}}




  .tab-contents.timeline(data-section="timeline")
    .line
    .entries
      .entry-container(ng-repeat="entry in entries" ng-class-even="'right'" ng-class-odd="'left'")
        .entry(id="{{entry.objectId}}")
          //- .date {{prettyDate(entry.date.iso)}}
          img(ng-src="{{entry.image.url}}" ng-show="entry.image" style="width:187px; margin: 0 auto;")
          img(ng-src="{{entry.imageUrl}}" ng-show="entry.imageUrl" style="width:187px; margin: 0 auto;")
          .type(class="{{entry.type}}")
          //- h3.text {{entry.text}}
          //- p(ng-bind-html="entry.text | hashtagFilter")
          .shelter(ng-show="entry.shelter")
            a(href="/location/{{entry.shelter.short_name}}")
              | {{entry.shelter.name}}

  //- .actions
  //-   .button.add(ng-click="addEntry()")
  //-   .clear
    
  div.timeline-drop(style='display:none;', file-dropzone='[image/png, image/jpeg, image/gif]', file='newEntry.image.file', file-name='newEntry.image.filename', data-max-file-size='3')
    img(ng-src="{{newEntry.image.file || newEntry.image.url}}", style='width:100px;height:100px;')
    .button.add(ng-click="addEntry()", ng-show="newEntry.image.file")
