.header

  h1 Locations
    .button.add(ng-click="addLocation()")

  div
    label
      | Search: 
    input#searchbar(type="text", ng-model="searchTerm", ng-change="searchLocations()")

  div
    label
      | Type: 
    select(id="type-select", name="type", ng-model="selectedType", ng-change="fetchLocations()")
      option(value="{{type}}", ng-repeat="type in types") {{type}}

  div
    label
      | Animal: 
    select(id="animal-select", name="animal", ng-model="selectedAnimal", ng-change="fetchLocations()")
      option(value="any", selected='selected') any
      option(value="{{animal}}", ng-repeat="animal in animals") {{animal}}



.location(ng-repeat="location in locations")
  .not-editing(ng-hide="location.editing")
    img.logo(ng-src="{{location.logo.file || location.logo.url || '/img/avatar_blank.png'}}")
    
    .info
      .name 
        a(href="/location/{{location.short_name}}")
          | {{location.name}}
      
      .shortName 
        label
          | Short Name:
        {{location.short_name}}
      
      .types 
        label
          | Types:
        {{location.types.join(", ")}}
        
      .animals 
        label
          | Animals:
        {{location.animals.join(", ")}}

      
      .address1 
        label
          | Address:
        {{location.address}}
        
      .address2
        label
        {{location.city}}, {{location.state}} {{location.zip}}

      .geo 
        label
          | Lat, Long:
        {{location.geo.latitude}},{{location.geo.longitude}}
        
      .phone 
        label
          | Phone:
        {{location.phone}}
      .email 
        label
          | Email:
        {{location.email}}
      .web(ng-show="location.website")
        a(ng-href="{{location.website}}" target="_blank")
          | {{location.website}}
      .fbUrl(ng-show="location.facebookPageId")
        a(ng-href="https://facebook.com/{{location.facebookPageId}}" target="_blank")
          | https://facebook.com/{{location.facebookPageId}}
      .twitterUrl(ng-show="location.twitterId")
        a(ng-href="https://twitter.com/{{location.twitterId}}" target="_blank")
          | https://twitter.com/{{location.twitterId}}
      .instagramUrl(ng-show="location.instagramId")
        a(ng-href="https://instagram.com/{{location.instagramId}}" target="_blank")
          | https://instagram.com/{{location.instagramId}}
      .instagramPlaceUrl(ng-show="location.instagramPlaceId")
        a(ng-href="https://www.instagram.com/explore/locations/{{location.instagramPlaceId}}" target="_blank")
          | https://www.instagram.com/explore/locations/{{location.instagramPlaceId}}
      .pinterestUrl(ng-show="location.pinterestId")
        a(ng-href="https://www.pinterest.com/{{location.pinterestId}}" target="_blank")
          | https://www.pinterest.com/{{location.pinterestId}}
      .yelpUrl(ng-show="location.yelpBusinessId")
        a(ng-href="https://yelp.com/biz/{{location.yelpBusinessId}}" target="_blank")
          | https://yelp.com/biz/{{location.yelpBusinessId}}
      .youtubeUrl(ng-show="location.youtubeUrl")
        a(ng-href="{{location.youtubeUrl}}" target="_blank")
          | {{location.youtubeUrl}}
    .actions
      .button.edit(ng-click="editingLocation(location)")
      .button.close(ng-click="removeLocation(location)")
      .clear
    .clear

  .edit(ng-hide="!location.editing")


    .form-row
      label
        | Logo
      div.checkbox-control
        div(file-dropzone='[image/png, image/jpeg, image/gif]', file='location.logo.file', file-name='location.logo.filename', data-max-file-size='3', style='width:100px;height:100px;display:block;')
          img.logo(ng-src="{{location.logo.file || location.logo.url || '/img/avatar_blank.png'}}")

    //- select(name="type", ng-model="location.type")
    //-   option(value="{{type}}", ng-repeat="type in types") {{type}}
      
    .form-row
      label
        | Location Types
      div.checkbox-control
        div(ng-repeat="type in types").
          <input type="checkbox" checklist-model="location.types" checklist-value="type"> {{type}}
    
    .form-row
      label
        | Animals
      div.checkbox-control
        div(ng-repeat="animal in animals").
          <input type="checkbox" checklist-model="location.animals" checklist-value="animal"> {{animal}}

    .form-row
      label
        | Location Name
      input.form-control.name(ng-model="location.name", placeholder="Name")
      
    .form-row
      label
        | Short Name
      input.form-control.name(ng-model="location.short_name", placeholder="short_name")

    .form-row
      label
        | Address
      input.form-control.address(ng-model="location.address", placeholder="Address")

    .form-row
      label
        | City
      input.form-control.city(ng-model="location.city", placeholder="City")
      
    .form-row
      label
        | State
      input.form-control.state(ng-model="location.state", placeholder="State")
      
    .form-row
      label
        | Zip Code    
      input.form-control.zip(ng-model="location.zip", placeholder="Zip")

    .form-row
      label
        | Latitude
      input.form-control.latitude(ng-model="location.geo.latitude")
      
    .form-row
      label
        | Longitude
      input.form-control.longitude(ng-model="location.geo.longitude")
      
    .form-row
      label
        | Email
      input.form-control.email(ng-model="location.email", placeholder="Email")
      
    .form-row
      label
        | Phone    
      input.form-control.phone(ng-model="location.phone", placeholder="Phone")

    .form-row
      label
        | Website
      input.form-control.website(ng-model="location.website", placeholder="Website")
      
    .form-row
      label
        | Facebook Page ID
      input.form-control.facebookPageId(ng-model="location.facebookPageId", placeholder="Facebook Page Id")

    .form-row
      label
        | Twitter ID
      input.form-control.twitterId(ng-model="location.twitterId", placeholder="Twitter Id")

    .form-row
      label
        | Instagram ID
      input.form-control.instagramId(ng-model="location.instagramId", placeholder="Instagram Id")
    
    .form-row
      label
        | Instagram Place ID
      input.form-control.instagramPlaceId(ng-model="location.instagramPlaceId", placeholder="Instagram Place Id")
    
    .form-row
      label
        | Pinterest ID
      input.form-control.pinterestId(ng-model="location.pinterestId", placeholder="Pinterest Id")
    
      
    .form-row
      label
        | Yelp Business ID
      input.form-control.yelpBusinessId(ng-model="location.yelpBusinessId", placeholder="Yelp Business Id")
      
    .form-row
      label
        | Youtube URL
      input.form-control.youtubeUrl(ng-model="location.youtubeUrl", placeholder="Youtube Url")

    .actions
      .button.save(ng-click="editLocation(location)")
      .button.close(ng-click="cancelEditing(location)")
