
.location
  .location-header
    img.logo(ng-src="{{location.logo.file || location.logo.url || '/img/avatar_blank.png'}}")
    
    .info
      .name {{location.name}}
      .address1 {{location.address}}
      .address2 {{location.city}}, {{location.state}} {{location.zip}}
      .phone {{location.phone}}
      .email
        a(href="mailto:{{location.email}}")
          | {{location.email}}
      .links
        a(ng-href="{{location.youtubeUrl}}", target="_blank", ng-show="location.youtubeUrl")
          img(src="/img/youtube.png")
        a(ng-href="{{location.instagramUrl}}", target="_blank", ng-show="location.instagramUrl")
          img(src="/img/instagram.png")
        a(ng-href="{{location.twitterUrl}}", target="_blank", ng-show="location.twitterUrl")
          img(src="/img/twitter.png")
        a(ng-href="{{location.fbUrl}}", target="_blank", ng-show="location.fbUrl")
          img(src="/img/facebook.png")
        a(ng-href="{{location.yelpUrl}}", target="_blank", ng-show="location.yelpUrl")
          img(src="/img/yelp.png")
        a(ng-href="{{location.website}}", target="_blank", ng-show="location.website")
          img(src="/img/web.png")
          
    .clear


  .animals
    h4 Adoptable
    
    .animal(ng-repeat="animal in animals")

      .header
        .cover-container
          img.cover-photo(ng-src="{{animal.coverPhoto.url || '/img/blank_cover.png'}}")
        .profile-col
          .profile-photo
            img.profile(ng-src="{{animal.profilePhoto.file || animal.profilePhoto.url || '/img/avatar_blank.png'}}")
        
        .info
          a(ng-href="/cat/{{animal.username}}")
            h1 {{animal.name}}
          .gender {{animal.gender}}
          .age(ng-show="animal.birthDate") {{animal.age()}}
          .breed {{animal.breed.name}}

    h4(ng-show="alumni.length > 0") Alumni
    
    .animal.alumni(ng-repeat="animal in alumni")
    
      .header
        .cover-container
          img.cover-photo(ng-src="{{animal.coverPhoto.url || '/img/blank_cover.png'}}")
        .profile-col
          .profile-photo
            img.profile(ng-src="{{animal.profilePhoto.file || animal.profilePhoto.url || '/img/avatar_blank.png'}}")
        
        .info
          a(ng-href="/cat/{{animal.username}}")
            h1 {{animal.name}}
          .gender {{animal.gender}}
          .age(ng-show="animal.birthDate") {{animal.age()}}
          .breed {{animal.breed.name}}
